
<div class = "container">
  <div class ="row mt-3">
    <div class="col-9">
      <%= cl_image_tag @dinosaur.photo.key, crop: :fill, class: :profile_picture %>
      <div class = "row justify-content-start align-items-center">
        <h1 class="col-7 mb-3 mt-3"><%=@dinosaur.name%>, the <%=@dinosaur.species.capitalize%></h1>
        <h3 class="col mb-3 mt-3 justify-content-right">⭐ <%= @dinosaur.review%>/5</h3>
      </div>
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item">
          <% if @dinosaur.element == "air"  %>
              <span><i class="fa-solid fa-wind"></i> <%= @dinosaur.element.capitalize %></span>
            <% elsif @dinosaur.element == "earth"%>
              <span><i class="fa-solid fa-mountain-sun"></i> <%= @dinosaur.element.capitalize %></span>
            <% else %>
              <span><i class="fa-solid fa-water"></i> <%= @dinosaur.element.capitalize %></span>
            <% end %>
          </li>
          <li class="list-group-item">
            <span><i class="fa-solid fa-clock"></i> <%= @dinosaur.age %> M years</span>
          </li>
          <li class="list-group-item">
            <span><i class="fa-solid fa-weight-scale"></i> <%= @dinosaur.weight %> kg</span>
          </li>
          <li class="list-group-item">
            <span><i class="fa-solid fa-ruler-vertical"></i> <%= @dinosaur.height %> meters</span>
          </li>
          <li class="list-group-item">
            <span><i class="fa-solid fa-heart-circle-exclamation"></i> <%= @dinosaur.character.capitalize %></span>
          </li>
        </ul>
      <hr class="rounded mt-6 mb-3">
      <div class="row mb-10">
      <h6> <strong>20 Comments</strong></h6>
      <img src="" alt="">
      </div>
    </div>
    <div class="col-3 p-4" id="bookingform">
      <div class="mb-6">
          <div class="row align-items-center">
              <h2 class="col-4"><%= @dinosaur.price %>€</h2>
              <h6 class="col-4">per day</h6>
          </div>
          <div class="row align-items-center">
              <h6 class="col-4">⭐ <strong><%= @dinosaur.review %>/5</strong></h6>
              <h6 class="col-6">20 comments</h6>
          </div>
          <hr class="rounded mt-3 mb-3">
        </div>
            <%= simple_form_for [@dinosaur, @booking] do |f| %>
              <%= f.input :start_date %>
              <%= f.input :end_date %>
              <div class="d-grid gap-2 pt-3 mb-0">
              <%= f.submit "BOOK", class: "btn btn-dark" %>
              </div>
            <% end %>
          </div>
        </div>
        <% if policy(@dinosaur).edit? %>
          <%= link_to "Edit your Dinosaur's profile", edit_dinosaur_path(@dinosaur) %> |
        <% end %>
        <%= button_to "Destroy this Dinosaur from the platform", @dinosaur, method: :delete if policy(@dinosaur).destroy? %>
      </div>
  </div>
</div>
