
<div class = "container">
  <div class ="row mt-3 mb-3">
    <div class="col-9">
      <%= cl_image_tag @dinosaur.photo.key, crop: :fill, class: :profile_picture %>
      <div class = "row justify-content-start align-items-center">
        <h1 class="col-10 mb-3 mt-3"><%=@dinosaur.name%>, the <%=@dinosaur.species.capitalize%></h1>
        <h3 class="col mb-3 mt-3 justify-content-right">⭐ <%= @dinosaur.review%>/5</h3>
      </div>
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item">
          <% if @dinosaur.element == "air"  %>
              <span><i class="fa-solid fa-wind"></i> <%= @dinosaur.element.capitalize %></span>
            <% elsif @dinosaur.element == "earth"%>
              <span><i class="fa-solid fa-mountain-sun"></i> <%= @dinosaur.element.capitalize %></span>
            <% else %>
              <span><i class="fa-solid fa-water"></i> <%= @dinosaur.element.capitalize %></span>
            <% end %>
          </li>
          <li class="list-group-item">
            <span><i class="fa-solid fa-clock"></i> <%= @dinosaur.age %> M years</span>
          </li>
          <li class="list-group-item">
            <span><i class="fa-solid fa-weight-scale"></i> <%= @dinosaur.weight %> kg</span>
          </li>
          <li class="list-group-item">
            <span><i class="fa-solid fa-ruler-vertical"></i> <%= @dinosaur.height %> meters</span>
          </li>
          <li class="list-group-item">
            <span><i class="fa-solid fa-heart-circle-exclamation"></i> <%= @dinosaur.character.capitalize %></span>
          </li>
        </ul>
        <div class="text-divider">
          <hr class="rounded mt-3">
        </div>
      <div class="row mb-10">
        <h6 class="mt-3"> <strong>4 Comments</strong></h6>
        <div class="row align-items-center mb-3 mt-3">
          <div class="col-6">
            <div class = "row align-items-baseline">
              <i class="fa-regular fa-face-smile fa-2xl col-auto align-self-center"></i>
              <p class="col text-justify">Suspendisse porta enim a libero congue, ut consectetur tellus volutpat. Nam quis dolor in arcu aliquet dignissim. Maecenas ultricies feugiat odio, in finibus nulla accumsan vel. Praesent fermentum et velit sit amet imperdiet.</p>
            </div>
          </div>
          <div class="col-6">
            <div class = "row align-items-baseline">
              <i class="fa-regular fa-face-smile fa-2xl col-auto align-self-center"></i>
              <p class="col text-justify">Suspendisse porta enim a libero congue, ut consectetur tellus volutpat. Nam quis dolor in arcu aliquet dignissim. Maecenas ultricies feugiat odio, in finibus nulla accumsan vel. Praesent fermentum et velit sit amet imperdiet.</p>
            </div>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-6">
            <div class = "row align-items-baseline">
              <i class="fa-regular fa-face-smile fa-2xl col-auto align-self-center"></i>
              <p class="col text-justify">Suspendisse porta enim a libero congue, ut consectetur tellus volutpat. Nam quis dolor in arcu aliquet dignissim. Maecenas ultricies feugiat odio, in finibus nulla accumsan vel. Praesent fermentum et velit sit amet imperdiet.</p>
            </div>
          </div>
          <div class="col-6">
            <div class = "row align-items-baseline">
              <i class="fa-regular fa-face-smile fa-2xl col-auto align-self-center"></i>
              <p class="col text-justify">Suspendisse porta enim a libero congue, ut consectetur tellus volutpat. Nam quis dolor in arcu aliquet dignissim. Maecenas ultricies feugiat odio, in finibus nulla accumsan vel. Praesent fermentum et velit sit amet imperdiet.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="text-divider mt-3">
        <hr class="rounded">
      </div>
      <h6><i class="fa-solid fa-binoculars mt-2 mb-2"></i> Where can I find <%= @dinosaur.name%>?</h6>
      <div style="width: 800px; height: 400px; border-radius:5px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
    <div class="col-3 p-4" id="bookingform">
      <div class="mb-6">
          <div class="row align-items-center">
              <h2 class="col-4"><%= @dinosaur.price %>€</h2>
              <h6 class="col-4">per day</h6>
          </div>
          <div class="row align-items-center">
              <h6 class="col-4">⭐ <strong><%= @dinosaur.review %>/5</strong></h6>
              <h6 class="col-6">4 comments</h6>
          </div>
          <hr class="rounded mt-3 mb-3">
          <div>
              <%= simple_form_for [@dinosaur, @booking] do |f| %>
                <%= f.input :start_date %>
                <%= f.input :end_date %>
                <div class="d-grid gap-2 pt-3 mb-0">
                <%= f.submit "BOOK", class: "btn-new" %>
              <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
